head
    title Career Test
    <link rel="stylesheet" href="/static/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/static/stylesheets/main.css"/>
    <link rel="stylesheet" href="/static/stylesheets/bootstrap-table.min.css">