doctype html
html 
    include partials/head.pug
    body
        include partials/nav.pug

        div(id="react-app")
            .jumbotron
                h2.bigTitle DISC性格测试

    include partials/tail.pug