doctype html
html 
    include partials/head.pug
    body
        include partials/nav.pug

        div(id="login-app-container")
            .jumbotron
                .LoginPanel
                    h2.bigTitle 登陆
                    div(id="login-app" userEmail=userEmail)

    include partials/tail.pug