doctype html
html 
    include partials/head.pug
    body
        include partials/nav.pug

        div
            .jumbotron
                .TestResultPanel
                    h2.bigTitle 测试结果
                    div(id="result-app")

    include partials/tail.pug