doctype html
html 
    include partials/head.pug
    body
        include partials/nav.pug

        div(id="login-app-container")
            .jumbotron
                .LoginPanel
                    h2.bigTitle 注册
                    div(id="signup-app")

    include partials/tail.pug