.jumbotron {
  background: #137a53;
  color: white;
  padding-bottom: 80px; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
  /* .jumbotron .alert-success {
    background-color: #137a53; 
  } */

.navbar {
  border-radius: 0px;
}
.jumbotron {
  margin-top: -20px;
}
.jumbotron p {
  margin-bottom: 1em;
  font-size:20px;
}
.option {
  text-align: left;
  margin-bottom: 5px;
}
.center {
  text-align: center
}
.bigTitle {
  margin-top: 0px;
  text-align: center;
  margin-bottom: 20px;
}

body {
  margin: 0;
  font-size: 16px;
}

a {
  color: #00bcd4;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #1976d2;
}

.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px 15px;
  margin-bottom: 50px;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-right {
  float: right;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}

.container {
  margin: 0 auto;
  text-align: center;
  /* width: 700px; */
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
} 

.LoginPanel {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.SignUpPanel {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}


.btn {
  min-width: 100px;
}

/* Divider vertical for bootstrap 3 */
.navbar .divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
  border-right-color: grey;
  border-left-color: #111111;
}

@media (max-width: 767px) {
  .navbar-collapse .nav > .divider-vertical {
      display: none;
   }
}

.my-control {
  width: 350px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.loading-placeholder {
  width: 50px;
  height: 50px;
  margin: 5px auto;
}


.navbar-brand2 {
  background: url('/static/logo.jpg') no-repeat;
}

.btn .caret {
  margin-left: 10px;
}

.alert {
  padding: 10px;
}